[tool.black]
line-length = 79
target-version = ['py39']
include = '\.pyi?$'
extend-exclude = '''
/(
  # directories
  \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | venv
  | venv_windows
  | _build
  | buck-out
  | build
  | dist
  | alembic/versions
)/
'''

[tool.isort]
profile = "black"
line_length = 79
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
skip_glob = ["venv*", "alembic/versions/*"]

[tool.flake8]
max-line-length = 79
extend-ignore = ["E203", "W503", "E501", "F541", "E722"]
exclude = [
    "venv",
    "venv_windows",
    "__pycache__",
    ".git",
    ".pytest_cache",
    "alembic/versions"
]
per-file-ignores = [
    "__init__.py:F401",
    "alembic/versions/*.py:E501,E128,E122,W391",
    "scripts/*.py:E501,F541,E722",
    "tests/*.py:E501"
]

[tool.mypy]
python_version = "3.12"
warn_return_any = true
warn_unused_configs = true
disallow_untyped_defs = false
ignore_missing_imports = true









